.homepage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 15%;
}

.header-title {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}